body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url(signup.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.signup-container {
    width: 100%;
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
}

.signup-container h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: black;
}

.signup-container form div {
    margin-top: 15px;
    margin-bottom: 15px;
}

.signup-container label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
    color: black;
}

.signup-container input[type="text"],
.signup-container input[type="email"],
.signup-container input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
    background-color: transparent;
    color: black;
}

.signup-container input:focus {
    background-color: transparent;
    border-color: black;
    outline: none;
}



.signup-container button {
    width: 100%;
    padding: 10px;
    background-color: black;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.signup-container button:hover {
    background-color: #0056b3;
}

@media (max-width: 768px) {
    .signup-container {
        margin: 50px auto;
        padding: 15px;
    }
}

.signup-container form div button {
    font-weight: bold;
    margin-top: 10px;
}