*, html {
    margin: 0;
    padding: 0;
}

.navbar-up {
    background-color: rgb(254, 157, 20);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 75px;
    padding: 0 20px;
    outline: solid 2px black;
}

.navhead {
    display: flex;
    align-items: center;
}

.dec-navbar {
    text-decoration: none;
    color: black;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-right: 20px;
    font-size: 18px;
    font-weight: bold;
}

.dec-navbar:hover {
    background-color: rgb(117, 59, 6);
    transition: .2s ease-in-out;
    border-radius: 10px;
    padding: 10px;
}

.img-logo {
    width: 65px;
    height: 65px;
}

.cart-logo{
    width: 20px;
    height: 20px;
}

.light-btn{
    display: none;
    background-color: rgb(117, 59, 6) ;
    padding: 5px 5px;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
    align-items: center;
    gap: 5px;
    border: none;
}

.dark-btn {
    background-color: rgb(254, 157, 20);
    padding: 5px 5px;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
    align-items: center;
    gap: 5px;
    border: none;
}
.theme-switch {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.cart-icon {
    position: relative;
    display: inline-block; 
}

.item-count {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: white;
    color: black;
    border-radius: 75%;
    padding: 2px 5px;
    font-size: 15px;
    font-weight: bold;
}


.hamburger {
    display: none;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    z-index: 100; 
}

.hamburger i {
    color: black;
}

#navbar-list {
    display: flex;
}

@media (max-width: 768px) {
    .dec-navbar,.theme-switch {
        justify-content: center;
    }

    .img-logo {
        margin-right: auto;
    }

    .hamburger {
        display: block;
        color: black; 
    }

    #navbar-list {
        display: none;
        flex-direction: column;
        background-color: rgb(254, 157, 20);
        position: absolute;
        top: 100%;
        right: 0;
        width: 100%;
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
        z-index: 999;
        text-align: center;
    }

    .navbar-up.active #navbar-list {
        display: flex;
    }
}

body.light-mode .products{
    background-color: rgb(203, 118, 0);
    color: #000;
}

body.light-mode .navbar-up {
    background-color: rgb(254, 157, 20);
}

body.light-mode .footer-bottom {
    background-color: rgb(254, 157, 20);
}

body.light-mode .dark-btn {
    display: block;
}

body.light-mode .light-btn {
    display: none;
}

body.dark-mode  .products{
    background-color: rgba(67, 24, 1, 255);
    color: white;
    outline: solid 2px white;
}

body.dark-mode .navbar-up {
    background-color: rgb(117, 59, 6);
    outline: solid 2px white;
}

body.dark-mode .item-count{
    background-color: black;
    color: white;
}

body.dark-mode .dec-navbar:hover {
    background-color: rgb(254, 157, 20);
    color: black;
}

body.dark-mode .dec-navbar {
    color: white;
}

body.dark-mode #navbar-list {
    background-color: rgb(117, 59, 6);  
}
body.dark-mode .product-item{
    background-color: rgb(117, 59, 6);
    border: 1px solid white;
}

body.dark-mode .about{
    background-color: rgb(117, 59, 6);
    color: white;
}

body.dark-mode .product-item h3{
    background-color: rgb(117, 59, 6);
    color: white;
}

body.dark-mode .footer{
    color: white;
    background-color: rgb(117, 59, 6);
}

body.dark-mode .footer-bottom {
    color: white;
}

body.dark-mode .light-btn {
    display: block;
}

body.dark-mode .dark-btn {
    display: none;
}

body.dark-mode .price {
    color: white;
}

body.dark-mode .btn-buy {
    background-color: rgb(117, 59, 6);
    color: white;
}

body.dark-mode .btn-buy:hover {
    background-color: rgb(254, 157, 20);
}

.products {
    padding: 40px;
    text-align: center;
    background-color: rgb(203, 118, 0);
    outline: solid 2px black;
}

.products h2 {
    font-size: 25px;
    margin-bottom: 30px;
}

.product-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.product-item {
    background-color: rgb(254, 157, 20);
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    height: 600px;
    margin: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.about {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 200px;
    width: 1000px;
    height: 100px;
    margin: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-decoration: none;
}

.no-line {
    color: inherit;
    text-decoration: none; 
}

.product-item img {
    width: 300px;
    height: 450px;
    object-fit: cover;
    border-radius: 10px;
}

.product-item h3 {
    font-size: 15px;
    margin: 10px 0;
    color: black;
}

.price {
    font-size: 25px;
    color: black;
    margin-bottom: 15px;
}

.btn-buy {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(254, 157, 20);
    color: black;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s;
}

.btn-buy:hover {
    background-color: rgb(117, 59, 6);
}

.footer {
    background-color: rgb(254, 157, 20);
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 100px;
    bottom: 0;
    text-align: center;
    color: black
}

.footer-bottom {        
    text-align: center;
    padding: 10px;
    color: black;
}